html {
  min-height: 100vh;
}
body {
  min-height: 100vh;
}

#h1-header{
  font-size: 60px;
}

.hide{
  display: none;
}

#event1, #event2, #event3, #event4, #event5, #rest1, #rest2, #rest3, #rest4, #rest5{
  background-color:  rgba(7, 7, 7, 0.25);
  border-radius: 13.5px;
  border: solid 1px black;
  margin: 2.5px 0 2.5px 0;
}

#h1-header::before,
#h1-header::after {
    content:"💗";
}

#city-form{
  margin-left: 35px;
}

#reset{
  margin-left: 10px;
}

.jumbotron {
  background-image: url("../Images/Jumbotron-background-image.jpg");
  background-size: cover;
  height: 550px;
  overflow-y: auto;
  border-bottom: 2px solid white
}

#events-card{
  background-image: url("../Images/Crowd-at-concert6.jpg");
  background-size: cover;
  color: black;
  -webkit-text-stroke: 1px black;
  font-size: 27px;
  text-align: center;
  height: 400px;
  overflow-y: auto;
  border-right: 2px solid white
}

#restaurants-card{
  background-image: url("../Images/fine-dining.jpg");
  background-size: cover;
  color: white;
  -webkit-text-stroke: 1px black;
  font-size: 27px;
  text-align: center;
  height: 400px;
  overflow-y: auto;
}
