html {
  min-height: 100vh;
}
body {
  min-height: 100vh;
}

#h1-header{
  font-size: 60px;
}

.jumbotron {
    background-image: url("../Images/Jumbotron-background-image.jpg");
    background-size: cover;
    height: 600px;
  }

  #events-card{
    background-image: url("../Images/Crowd-at-concert6.jpg");
    background-size: cover;
    color: black;
    -webkit-text-stroke: 1px black;
    font-size: 25px;
    text-align: center;
    height: 350px;
  }

  #restaurants-card{
    background-image: url("../Images/fine-dining.jpg");
    background-size: cover;
    color: white;
    -webkit-text-stroke: 1px black;
    font-size: 25px;
    text-align: center;
    height: 350px;
  }
