html {
  min-height: 100vh;
}
body {
  min-height: 100vh;
}

#h1-header{
  font-size: 60px;
  
}

#h1-header::before,
#h1-header::after {
    content:"💗";
}

#city-form{
  margin-left: 35px;
}

#reset{
  margin-left: 10px;
}

.jumbotron {
  background-image: url("../Images/Jumbotron-background-image.jpg");
  background-size: cover;
  height: 550px;
  overflow-y: auto;
}

#events-card{
  background-image: url("../Images/Crowd-at-concert6.jpg");
  background-size: cover;
  color: black;
  -webkit-text-stroke: 1px black;
  font-size: 27px;
  text-align: center;
  height: 400px;
  overflow-y: auto;
}

#restaurants-card{
  background-image: url("../Images/fine-dining.jpg");
  background-size: cover;
  color: white;
  -webkit-text-stroke: 1px black;
  font-size: 27px;
  text-align: center;
  height: 400px;
  overflow-y: auto;
}
